/* You can add global styles to this file, and also import other style files */
.btn{
  margin: 1.5rem 2rem; width: 15%; font-size: 1.3rem; cursor: pointer; text-align: center; background-color: rgba(128, 0, 0, 0.8); color: white;
}
